[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
awscli = "*"
pylint = "*"
rope = "*"
ptvsd = "*"
colorama = "*"

[requires]
python_version = "3.6"
