[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask-restplus = "*"


[dev-packages]

invoke = "*"
awscli = "*"
pylint = "*"
rope = "*"


[requires]

python_version = "3.6"
