@import 'styles/Fade.scss';

$screen-size: 600px;

.flex-container {
  height: 100%;
  margin: 5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: $screen-size) {
    margin: 1rem;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Aladin', cursive;
  font-size: 5rem;
  @media only screen and (max-width: $screen-size) {
    font-size: 3rem;
  }
}

#fade-in {
  @include animation('fadein 2.5s');
}

@include keyframes(fadein) {
  from { opacity: 0; }
  to   { opacity: 1; }
}
